#profile_foto{
               width: 150px;
               height: 150px;
               border-radius: 50%;
            }
header{
                text-align: center;
                background-position: 60%;
            }
.editlar_1{
                color:green
            }
.dranma{
                color: green;
            }
.sarlavha{
                color: red;
                width: bold;
            }
table{
                width: 100%;
            }
body{
                width: 100%;
                display: block;
            }
#videoks{
                text-align: center;
            }
.field{
                margin-bottom: 5px;
                text-align: center;
                font-style: italic;
                font-weight: bold;
}
.contact_1{
    text-align: center;
    font-weight: border;
}
